:root {
    --primary-color: #4a56e2;
    --secondary-color: #6875f5;
    --background-color: #192e57; /* Dark blue background */
    --form-background-color: #fff;
    --text-color: #000000; /* Lighter text color for better contrast against dark background */
    --button-bg-color: #4a56e2;
    --button-hover-bg-color: #6875f5;
    --font-family: 'Roboto', sans-serif;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: var(--font-family);
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 500px; /* Reduced width */
}

.bg-white {
    background-color: var(--form-background-color);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 40px;
}

input[type="url"], select, .input-file {
    width: calc(100% - 24px);
    padding: 10px 12px;
    margin-bottom: 20px; /* Increased spacing */
    border: 1px solid #CBD5E0;
    border-radius: 4px;
    background-color: #EDF2F7;
    color: #2D3748;
}

.input-file {
    cursor: pointer;
    background-color: var(--background-color);
    color: var(--text-color);
    border: none;
}

.input-file + label {
    display: inline-block;
    background-color: var(--button-bg-color);
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.input-file:focus + label,
.input-file + label:hover {
    background-color: var(--button-hover-bg-color);
}

button {
    background-color: var(--button-bg-color);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px; /* Added spacing */
}

button:hover {
    background-color: var(--button-hover-bg-color);
}

/* Additional styling for better responsiveness and aesthetics */
@media (max-width: 640px) {
    .container {
        width: 100%;
        padding: 0 20px;
    }
}
